
@{
    ViewBag.Title = "ulgrocerielist";
}

<h2>ulgrocerielist</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Countries.js"></script>
<div ng-controller="Groceries">
    <ul>
        <li ng-repeat="grocery in listOfProducts" ng-if="$index>-1">
            {{grocery.item}}
        </li>
    </ul>
</div>


